@define-color bg #000000;
@define-color fg #FEFEFE;
@define-color bg_secondary #0F0F0F;
@define-color fg_dim #BDBDBD;
@define-color accent #F5F5F5;
@define-color muted #BDBDBD;
@define-color selection #2B2B2B;
@define-color border #2B2B2B;

window {
  background-color: @bg;
  border: 2px solid @border;
}

input {
  background-color: @bg;
  color: @fg;
  border: 1px solid @muted;
}

input:selected {
  background-color: @selection;
  color: @accent;
  /* make selection obvious when navigating with keyboard */
  border-left: 4px solid @highlight;
  padding-left: 6px; /* account for border */
}

#entry {
  color: @fg;
  background-color: @bg;
  padding: 5px;
  margin: 2px;
}

#entry:selected {
  background-color: @selection;
  color: @accent;
  border-left: 4px solid @highlight;
  padding-left: 6px; /* account for border */
}

scrollbar {
  background-color: @bg;
}

scrollbar slider {
  background-color: @muted;
  border-radius: 5px;
}

scrollbar slider:hover {
  background-color: @border;
}
